extends layout

block content
  h1 Ali's #{title}
  p Welcome to the most intellegent #{title} you'll ever visit
  br
  hr
  br
  p
    a(href="/class/") Explore our classrooms
  p
    a(href="/teacher/") Interact with the qualified teachers
  p
    a(href="/student/") See our brilliant students

  